@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.CodeMirror {
	border: 1px solid #ddd;
}

.CodeMirror-code {
  font-family: none;
  font-size: 80%;
}

.main{
	margin:0 auto;
	padding: 0 auto;
	width: 1000px;
	height: 1000px;
}

.main_top{
	line-height:67px;
	font-family: none;
	margin-top:20px;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.title_right{
	font-size:20px;
	line-height:85px;
	color:black;
}

#main_block{
	width: 70%;
	height: 80%;
	margin:auto;
	padding: 20px;
}
#code_block{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#dropdown{
	position: relative;
}
#dropdown-content{
	display: none;
	position: absolute;                      
	padding: .2em .5em;
	min-width: 75px;
	
}

#dropdown-language{   
	display: block;                      
	padding: .2em .5em;
	border: 1px solid #999;
}

#language{
	display: block;
	appearance: none;                               
	padding: .3em 1.2em .1em .5em;
	border: 1px solid #aaaaaa;
	font-size: 13px;
	background:url('./imgs/images.png') no-repeat 97% 50%/17px auto;
	background-color: white;
	appearance: none;
}

#language:hover,#language:focus{
	border: 1px solid #777;
}

.input_box{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#input{
	width: 250px; 
	height: 264px;
	padding: 10px;
	border: none;
	font-size: 14px;
}

.run_button{
	width:100%;
	padding:25px;
	font-size: 15px;
	background-color: #bebebe;
	border: none;
}

.run_button:hover{
	background-color: #aaaaaa;
}

.run_button:active{
	background-color: #828282;
}

.return{
	display: inline-flex;
}

#result, #history{
	background: white;
	width: 295px; 
	height: 300px; 
	padding: 15px;
	font-size: 13px;
	border: 1px solid #ddd;
	overflow: auto
}

.result_text{
	border:none; 
	padding:0;
	font-weight: 400;
	font-family: sans-serif;
}

.label{
	display: flex;
	justify-content: center;
	font-family: 'NanumSquareRound';
	padding: 3px 0px;
	width: 100%;
	border: none;
}

select, option{
	font-family: 'NanumSquareRound';	
}

textarea{
	resize: none;
}

select, textarea:focus{
	outline: 0;
}

a:link {text-decoration: none;}
a:visited { color: black; text-decoration: none;}