@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.CodeMirror {
	border: 1px solid #ddd;
	box-shadow: 0 3px 8px 0 #b4b4b4;
}

.CodeMirror-code {
  font-family: none;
  font-size: 80%;
}

.header{
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px 0px #b4b4b4;
	height:80px;
	position:relative;
	display: flex;
	justify-content: center;
}

.top_right{
	position:absolute;
	line-height:1.2;
	right:30px;
	top: 30px;
}

.id_label{
	font-family: 'NanumSquareRound';
	font-size:14px;
	color: #828282;
	margin-right:10px;
	line-height:1.2;
}

.top_right_label{
    font-family: 'NanumSquareRound';
	background-color:#4BAF4B;
	font-size:14px;
	color:white;
	padding: 9px;
	margin: 10px;
	border-radius:10%;
	box-shadow: 0px 2px 4px 0 #828282;
	transition-duration:0.2s;
}

.top_right_label:link{
	color:white;
}
.top_right_label:visited { color: white;}
.top_right_label:hover{
	background-color:#147814;
}

.main{
	margin:0 auto;
	padding: 0 auto;
	width: 1000px;
}

.main_top{
	font-size: 45px;
	line-height:75px;
	font-family: none;
	display: inline-flex;
	justify-content: center;
}

.title_right{
	font-size:20px;
	line-height:85px;
	color:black;
}

#main_block{
	width: 70%;
	height: 80%;
	margin: 70px auto;
	padding: 20px;
}
#code_block{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#dropdown{
	position: relative;
}
#dropdown-content{
	display: none;
	position: absolute;                      
	padding: .2em .5em;
	min-width: 75px;
	
}

#dropdown-language{   
	display: block;                      
	padding: .2em .5em;
	border: 1px solid #999;
}

#language{
	display: block;
	appearance: none;                               
	padding: .3em 1.2em .1em .5em;
	box-shadow: 0 3px 8px 0 #b4b4b4;
	border: 1px solid #aaaaaa;
	font-size: 13px;
	background:url('./imgs/images.png') no-repeat 97% 50%/17px auto;
	background-color: white;
	appearance: none;
}

#language:hover,#language:focus{
	border: 1px solid #777;
}

.input_box{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#input{
    font-family: 'NanumSquareRound';
	line-height:1.2;
	width: 250px; 
	height: 264px;
	padding: 10px;
	border: none;
	font-size: 14px;
}

.run_button{
	width:100%;
	padding:25px;
	font-size: 15px;
	background-color: rgba(108, 132, 125,0.8);
	border: none;
	color:white;
}

.run_button:hover{
	background-color: #6c847d;
}

.run_button:active{
	background-color: #61716b;
}

.return{
	margin-top:10px;
	box-shadow: 0 3px 8px 0 #b4b4b4;
	display: inline-flex;
}

#result, #history{
	background: white;
	width: 294px; 
	height: 300px; 
	padding: 15px;
	font-size: 13px;
	border: 1px solid #ddd;
	overflow: auto
}

.init_img{
	display:none;
}

.roading_img{
	display:block;
	position:absolute;
	left:15px;
	top:45px;
}

.result_box{
	position:relative;
}

.result_text{
	border:none; 
	padding:0;
	font-weight: 400;
	font-family: sans-serif;
}

.label{
	display: flex;
	justify-content: center;
	font-family: 'NanumSquareRound';
	padding: 3px 0px;
	padding-top:5px;
	border-left: 1px solid #ddd;
}

.history {
	border-right: 1px solid #ddd;	
}

select, option{
	font-family: 'NanumSquareRound';	
}

textarea{
	resize: none;
}

select, textarea:focus{
	outline: 0;
}

a:link {text-decoration: none;}
a:visited { color: black; text-decoration: none;}