.main{
	margin:0 auto;
	padding: 0 auto;
	width: 1000px;
	height: 850px;
}

.title_right{
	font-size:20px;
	line-height:85px;
}

.main_top{
	margin-top:20px;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.main_middle{
	width:100%;
	height:100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.menu{
	margin: 10px;
	font-size: 30px;
	width:40%;
	height:50%;
	background: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
}

body{
	margin:0;
}

a:link {text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { background-color: #aaaaaa}
a:focus { background-color: gray}