@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header{
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px 0px #b4b4b4;
	height:80px;
	display:flex;
	justify-content: center;
	position:relative;
}

.main{
	margin:0 auto;
	padding: 0 auto;
	width: 1000px;
	height: auto;
}

.title_right{
	font-size:20px;
	line-height:85px;
}

.main_top{
	font-size: 45px;
	line-height:75px;
	display: inline-flex;
	justify-content: center;
}

.main_middle{
	width:100%;
	height:100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.menu:link { 
    font-family: 'NanumSquareRound';
	display:flex;
	position: relative;
	flex-direction:column;
	text-decoration: none;
	margin: 0 50px;
	font-size: 30px;
	width:45%;
	height:45%;
	border: 1px solid #329632;
	box-shadow: 0 12px 18px 0px #f0f1f2;
	transition-duration:0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10%;
	color:#329632;
}
.menu:visited { color:#329632; text-decoration: none;}
.menu:hover { box-shadow: 0 22px 28px 0px #b4b4b4;}
.menu:focus { box-shadow: 0 22px 28px 0px gray;}

.top_right{
	position:absolute;
	right:30px;
	top: 30px;
}

.id_label{
	font-family: 'NanumSquareRound';
	font-size:14px;
	color: #828282;
	margin-right:10px;
	line-height:1.2;
}

.top_right_label{
    font-family: 'NanumSquareRound';
	background-color:#4BAF4B;
	font-size:14px;
	color:white;
	padding: 9px;
	margin: 10px;
	border-radius:10%;
	box-shadow: 0px 2px 4px 0 #828282;
	transition-duration:0.2s;
}

.top_right_label:link{
	color:white;
}
.top_right_label:visited { color: white;}
.top_right_label:hover{
	background-color:#147814;
}


.label{
	position:absolute;
	top:340px;
}

.image{
	max-width:100%; 
	padding-bottom:30px;
}

body{
	margin:0;
}

a:link {text-decoration: none;}
a:visited { color: black; text-decoration: none;}