@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main_top{
	margin-top:20px;
	font-size: 50px;
	display: flex;
	justify-content: center;
}

.main_middle{
	padding:20px;
}

.wrapper{
	position:relative;
	width:100%;
	padding-bottom: 10px;
	padding-right: 20px;
	margin-right: 20px;
}

.title_right{
	font-size:20px;
	line-height:85px;
}

.pro_title{
	font-size: 30px;
	margin-bottom: 10px;
}

.pro_main{
	margin:0 auto;
	width: 1000px;
	height: 1000px;
}


.pro_info_middle{
	display: inline-flex;
	width:100%;
}

.pro_button_block{
	margin-top: 35px;
	width:25%;
}

.pro_button{
	font-family: 'NanumSquareRound';
	border:none;
	width:95%;
	display: block;
	padding: 15px 0;
	padding-left:15px;
	font-size: 15px;
	background:#46BEFF;
	text-align:left;
	color: white;
}

.pro_button:link {color: white; text-decoration: none;}
.pro_button:visited {color: white; text-decoration: none;}

.pro_button:hover{
	background: #32AAFF;
	cursor:pointer;
}

.pro_info{
	width:75%;
	padding-right:50px;
	font-family: 'NanumSquareRound';
}

.pro_restrict_info{
	padding: 10px 0px;
}

.pro_info_title{
	font-size: 22px;
	margin: 20px 0 20px 0;
}

.case{
	font-size: 15px;
	position: absolute;
	text-align:center;
	background-color: #00C3FF;
	padding: 13px 11px;
	color:white;
	border-radius: 50%;
	width:25px;
	top: -26px;
	left: -70px;
}

.case:hover{
	transition-duration: 0.5s;
	background-color: #3CAEFF;
}

.wrap{
}

.wrap:first-child{
	border-right:1px solid #46CCFF;
}

.result{
	font-size: 17px;
	margin:5px 0;
}

.ex_result{
	letter-spacing:4px;
	font-size: 15px;
	font-family:sans-serif;
}

.pro_info_case{
	font-size: 17px;
	display: inline-flex;
	direction: row;
	width:100%;
	margin-bottom:10px;
}

.pro_info_contents{
	color: rgba(0,0,0, 0.7);
	letter-spacing:1px;
	line-height: 1.8;
}

a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}

body{
	margin:0;
}

table{
	font-size: 13px;
	width: 100%;
	text-align:center;
	border-collapse: collapse;
}

th,td{
	padding: 5px 0;
}

tr{
	border-bottom: 1px solid #ddd;
}

li{
	list-style-type:none;
}




