@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

.roading_img{
	width:20px;
	height:20px;
}

.pro_main{
	margin:0 auto;
	width: 1000px;
	height: 1000px;
	font-family:none;
}

.pro_title{
	display:block;
	width:20%;
	font-size: 30px;
	margin-bottom: 30px;
}
.pro_title:link {color: black; text-decoration: none;}
.pro_title:visited {color: black; text-decoration: none;}

.middle_right{
	width:40%;
	padding-top:30px;
	height:auto;
}

.submit_button{
	background-color: #46BEFF;
	border: none;
	width:100%;
	padding: 15px;
	color:white;
}

.submit_button:hover{
	background: #32AAFF;
	cursor:pointer;	
}

.return_box{
	width:653px;
	display: inline-flex;
	float:left;
}

.submit_box{
	font-family: 'NanumSquareRound';
	width:350px;
	margin-left:30px;
	margin-top:22px;
}

.code_submit_block{
	width:100%;
	display:inline-flex;
	justify-content:center;
}

.submit_res_box{
	width:100%;
	border-collapse: collapse;
	font-size: 14px;
}

#ans_block{
	display: none;
	animation:fadein;
	animation-duration: 2s;
}

.show_ans{
	width:100%;
	display:flex;
	justify-content:center;
	margin: 30px 0 10px 0;
}

.top{
	margin-bottom:0;
}

.ans_label{
	text-align:center;
	width:50%;
}

.ans_pro{
	text-align:center;
	width:25%;
}

.sub_ans_box{
	border-bottom:1px solid #46BEFF;
	border-radius: 10%;
	padding: 25px;
}

.submit_table{
	height: 45px;
	text-align:center;
	text-decoration:none;
	border-bottom: 1px solid #46BEFF;
    border-left: 1px solid #46BEFF;
    padding: 10px;
}

#correct{
	color: #FF8200;
	text-align:center;
	display:none;
	animation:fadein;
	animation-duration: 1s;
	height:0;
}

#incorrect{
	color: #FF0000;
	text-align:center;
	display:none;
	animation:fadein;
	animation-duration: 1s;
	height:0;
}

th:first-child, td:first-child {
    border-left: none;
}


