.pro_main{
	margin:0 auto;
	width: 1000px;
	height: 1000px;
	font-family:none;
}

.middle_right{
	width:40%;
	height:auto;
}

.run_button{
	margin-top: 30px;
}

.return_box{
	width:903px;
	display: inline-flex;
	float:left;
}