@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

.CodeMirror {
}

.CodeMirror-code {
  	font-family: none;
}

.CodeMirror-Scroll{
}

.header{
    max-width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px 0px #b4b4b4;
	height:80px;
	font-family:none;
}

.top_right{
	position:absolute;
	right:30px;
	top: 30px;
}

.id_label{
	font-family: 'NanumSquareRound';
	font-size:14px;
	color: #828282;
	margin-right:10px;
	line-height:1.2;
}

.top_right_label{
    font-family: 'NanumSquareRound';
	background-color:#4BAF4B;
	font-size:14px;
	color:white;
	padding: 9px;
	margin: 10px;
	border-radius:10%;
	box-shadow: 0px 2px 4px 0 #828282;
	transition-duration:0.2s;
}

.top_right_label:link{
	color:white;
}
.top_right_label:visited { color: white;}
.top_right_label:hover{
	background-color:#147814;
}

.main{
	display:inline-flex;
	justify-content:center;
	width:100%;
	height:auto;
	min-height:1000px;
	font-family:none;
}

.main_top{
	font-size: 45px;
	line-height:75px;
	display: flex;
	justify-content: center;
}

.title_right{
	font-size:20px;
	line-height:85px;
	color:black;
}

.roading_img{
	width:20px;
	height:20px;
}


.case_block{
	position:relative;
	display:flex;
	display:inline-flex;
  	list-style-type: none;
	width:50%;
	height:100%;
  	overflow: hidden;
}

.case_menu,.menu{
	transition-duration:0.3s;
    font-family: 'NanumSquareRound';
	font-size:18px;
	padding: 0px 18px;
	color:#147814;
	display:flex;
	justify-content:center;
	align-items:center;
}

.menu{
	color:#4BAF4B;
}

.menu_label{
	height:auto;
	width:auto;
	border-bottom: 3px solid #4BAF4B;
}

.case_menu:hover{
	background: #4BAF4B;
	color: white;
}

.pro_main{
	width: 70%;
}

.pro_title{
	display:block;
	width:20%;
	font-size: 35px;
	margin-top: 40px;
	margin-bottom: 30px;
}
.pro_title:link {color: black; text-decoration: none;}
.pro_title:visited {color: black; text-decoration: none;}

.pro_button_block{
	height:auto;
	width:15%;
	background: #329632;
    box-shadow: 2px 2px 8px 0px #8c8c8c;
}

.pro_button{
	font-family: 'NanumSquareRound';
	border:none;
	display:flex;
	align-items:center;
	padding: 22px 0;
	padding-left:15px;
	font-size: 18px;
	text-align:left;
	color: white;
	height:25px;
}

.pro_button:link {color: white; text-decoration: none;}
.pro_button:visited {color: white; text-decoration: none;}

.pro_button:hover{
	background: #147814;
	cursor:pointer;
}

.pro_info_title{
	font-size: 25px;
}

.label_wrap{
	display:inline-flex;
}

.copy_label{
    font-family: 'NanumSquareRound';
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:15px;
	margin-top:7px;
	margin-left:10px;
	padding: 0px 7px;
	color:#1E821E;
}

.copy_label:hover{
	transition-duration: 0.3s;
	content:"복사";
	color: #0A6E0A;
	cursor:pointer;
    box-shadow: 1px 1px 2px 0px #4BAF4B;
}

.copy_label:active{
	transition-duration: 0s;
    box-shadow: 1px 2px 4px 0px #4BAF4B;
}

.case_label{
	display:none;
	position: absolute;
	text-align:center;
	margin-top:5px;
	color:#6ED746;
	font-size:12px;
	top: 66px;
	left: 68px;
	animation:fadein;
	animation-duration:1s;
}

.ex_result{
	font-size: 18px;
	font-family:sans-serif;
	border:none;
	padding:0;
}

.result{
	font-size:20px;
	margin:5px 0;
}

.wrap{
	width: 25%;
	margin-right:15px;
    box-shadow: 1px 1px 2px 0px #4BAF4B;
	padding: 15px;
	overflow:auto;
}

.pro_info_case{
	font-size:20px;
	display: inline-flex;
	direction: row;
	width:100%;
	margin-top:20px;
	animation:fadein;
	animation-duration:0.5s;
}

.middle_right{
	width:40%;
	padding-top:30px;
	height:auto;
}

.submit_button{
	display:flex;
	justify-content:center;
	align-items:center;
	transition:0.3s;
	border: none;
	font-size:18px;
	font-family: 'NanumSquareRound';
	background-color:  #329632;
    box-shadow: 0 2px 8px 0px #b4b4b4;	
	width:20%;
	float:right;
	height:100%;
	color:white;
}

.submit_button:hover{
	background: #147814;
	cursor:pointer;	
}

.middle_bottom{
	margin: 0 auto;
	margin-top:10px;
	height:50px;
	width:90%;
	box-shadow: 0 4px 8px 0px #b4b4b4;
}

.return_box{
	width:20%;
	display: inline-flex;
	float:left;
	border-left: 1px solid rgba(220,220,220,1);	
}

.submit_box{
	font-family: 'NanumSquareRound';
	width:15%;
    box-shadow: 0 2px 8px 0px #b4b4b4;	
	height:auto;
}

#code_block{
	width:100%;
}

.code_submit_block{
	padding-top:65px;
	margin:0 auto;
	height:auto;
	width:90%;
}

.code_wrapper{
	width:99.9%;
	height:auto;
	display:inline-flex;
	border: 1px solid #ddd;	
    box-shadow: 0 2px 8px 0px #b4b4b4;
}

.submit_wrapper{
}

.submit_res_box{
	width:100%;
	border-collapse: collapse;
	font-size: 17px;
}

#ans_block{
	display: none;
	animation:fadein;
	animation-duration: 2s;
}

.show_ans{
	width:100%;
	display:flex;
	justify-content:center;
	margin: 30px 0 10px 0;
}

.top{
	margin-bottom:0;
}

.ans_label{
	text-align:center;
	width:50%;
}

.ans_pro{
	text-align:center;
	width:25%;
}

.sub_ans_box{
	font-size:18px;
	padding: 25px;
}

.submit_table{
	height: 45px;
	text-align:center;
	text-decoration:none;
	border-bottom: 1px solid #288C28;
    border-left: 1px solid #288C28;
    padding: 10px;
}

.label{
	font-size:17px;
	display: flex;
	justify-content: center;
	font-family: 'NanumSquareRound';
	padding: 3px 0px;
	width: 100%;
	border-bottom: 1px solid rgba(220,220,220,1);
}

.label .result{
	border-top: 1px solid rgba(220,220,220,1);	
}

.submit_label{
	font-size:18px;
	font-family: 'NanumSquareRound';
	background-color:  #329632;
	padding: 15px;
	text-align:center;
	color:white;
}

.result_text{
	border:none; 
	padding:0;
	font-weight: 400;
	font-family: sans-serif;
}

.run_button{
	color:white;
	width:30px;
	height:30px;
	border: none;
	transition-duration:0.5s;
}

.run_button:hover{
	filter: opacity(0.7) drop-shadow(0 0 0 #006400);
}

.run_button:active{
	filter: opacity(0.7) drop-shadow(0 0 0 #828282);
}

.arrow_img{
	position:relative;
	width:100%; 
	margin: 15px 0;
	display:flex; 
	justify-content:center;
	font-size: 35px;
	color:#2CE0BC;
}

#example{
	position:relative;
	width:90%;
	height:auto;
	margin: 0 auto;
	margin-bottom:30px;
}

#input{
	border: none;
	height:225px; 
	width:100%; 
	padding:15px; 
	font-size:15px; 
	font-family:none;
	background-color: rgba(220,220,220,0.1);
	border-bottom: 1px solid rgba(220,220,220,1);
}

#input:hover{
	background-color: rgba(220,220,220,0.2);
}

#result{
	background: white;
	height:auto;
	padding: 15px;
	font-size: 15px;
	overflow: auto;
	max-height:222px;
}

#correct{
	color: #FF8200;
	text-align:center;
	display:none;
	animation:fadein;
	animation-duration: 1s;
	height:0;
}

#incorrect{
	color: #FF0000;
	text-align:center;
	display:none;
	animation:fadein;
	animation-duration: 1s;
	height:0;
}

#language{
	display: block;
	appearance: none;                               
	padding: .3em 1.2em .1em .5em;
	border: 1px solid #aaaaaa;
	font-size: 14px;
	background:url('./imgs/images.png') no-repeat 97% 50%/17px auto;
	background-color: white;
	appearance: none;
    box-shadow: 0 2px 8px 0px #b4b4b4;	
}

#made_board{
	display:none;;
	animation:fadein;
	animation-duration: 1s;
}

th:first-child, td:first-child {
    border-left: none;
}

a:link {color: black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}

textarea{
	resize: none;
}

select, textarea:focus{
	outline: 0;
}
