.CodeMirror {
	border: 1px solid #ddd;
}
.CodeMirror-scroll {max-height: 300px;}

#main_block{
	width: 70%;
	height: 80%;
	margin:auto;
	padding: 100px;
}
#code_block{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#language{
	display: block;
	
}

#language:hover{
	background: #F8F8FF;
}

.input_box{
	display: flex;
	align-items: center;
	flex-direction: column;
}

#input{
	width: 250px; 
	height: 264px;
	padding: 10px;
	border: none;
	font-family: sans-serif;
	font-size: 14px;
}

.run_button{
	width:100%;
	padding:25px;
	font-size: 15px;
	background-color: #bebebe;
	border: none;
}

.run_button:hover{
	background-color: #aaaaaa;
}

.run_button:active{
	background-color: #828282;
}

.return{
	display: inline-flex;
}

.code_box{
	
}

#result, #history{
	background: white;
	width: 345px; 
	height: 300px; 
	padding: 15px;
	font-family: sans-serif;
	font-size: 13px;
	border: 1px solid #ddd;
	overflow: auto
}

.label{
	display: flex;
	justify-content: center;
	width: 100%;
}

textarea{
	resize: none;
}

select, textarea:focus{
	outline: 0;
}